/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body,
html {
    margin: 0;
    height: 100%;
}

.gc-overflow-auto {
    overflow: auto;
}

.gc-margin-top-20 {
    margin-top: 20px;
}

.tools {
    button {
        margin: 0 0 10px 10px;
    }
}

.mat-form-field-suffix {
    color: #b5b5b5;
    size: 24px;
}

.radiobuttons {
    mat-radio-button {
        margin-right: 234px;
        &:last-child {
            margin-right: 0;
        }
    }
    label {
        display: flex;
        width: 100px;
        font-size: 11px;
        color: #a0a0a0;
        padding-bottom: 6px;
    }
}

.fileupload {
    position: relative;
    padding-top: 20px;
    span.file-input-text:first-child {
        font-size: 11px !important;
        color: #a0a0a0;
        position: absolute;
        top: 0px;
    }
}