.example-icon {
    padding: 0 14px;
}

.logo {

}
.title {
    flex: 1 1 auto;
    font-size: 14px;
    font-weight: bold;
}

.title span{
    background: #a7c9f5;
    color: #0573da;
    border-radius: 5px;
    display: inline-block;
    margin: 0 10px;
    padding: 0 10px;
}