table {
    border: 1px solid #ccc;
}

table td {
    border: 1px solid #ccc;
}

.tools {
    button {
        margin: 0 0 10px 0;
    }
}

button {
    &.approved {
        mat-icon {
            color: #077e3a;
        }
    }
    &.pending {
        mat-icon {
            color: #f9aa01;
        }
    }
    &.dis {
        mat-icon {
            color: #ff0000;
        }
    }
}