<div fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Change Request List</h2>
    <div class="tools">
      <button mat-mini-fab color="basic">
        <mat-icon>save_alt</mat-icon>
      </button>
      <button mat-mini-fab color="primary" [matMenuTriggerFor]="filter">
        <mat-icon>filter_list</mat-icon>
      </button>

      <mat-menu #filter="matMenu">
        <button *ngFor="let status of statusList"  #selectedValue (click)="statusfilter(status.ApprovedStatusId)" [ngClass]="status.ApprovedStatusName | lowercase | trim"  mat-menu-item>
          <mat-icon>trip_origin</mat-icon>
          <span>{{status.ApprovedStatusName}}</span>
        </button>
        <button #selectedValue class="pending" (click)="statusfilter()" mat-menu-item>
          <mat-icon></mat-icon>
          <span>Clear</span>
        </button>
      </mat-menu>
  
    </div>
  
  </div>
<app-listing [filterValue]="filterValue"></app-listing>
<div fxLayout="row" fxLayoutAlign="end center" class="gc-margin-top-20">
  <button mat-raised-button color="primary" (click)="nvaigateToAdd()">
    <mat-icon>add</mat-icon> Add Post</button>
</div>
