.container {
    background: #fff;
    padding: 20px;
}

.full-width {
    width: 100%;
}

.fromrow {
    margin-bottom: 40px;
}

.textarea {
    height: 76px;
}

.crrtitleicon {
    transform: rotate(180deg);
    font-size: 30px;
    vertical-align: middle;
}

