<div fxLayout="row" fxLayoutAlign="space-between center">
  <h2 *ngIf="editMode"><mat-icon class="crrtitleicon">trending_flat</mat-icon> CR Request Detail {{post.crno}}</h2>
  <h2 *ngIf="!editMode">New Change Request</h2>
  <div class="tools">
    <!-- <button mat-mini-fab color="basic" routerLink="/">
        <mat-icon>undo</mat-icon>
      </button> -->
    <button mat-mini-fab color="primary" routerLink="/addPost">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>


<mat-card>
  <form [formGroup]="editPostForm">
    <div fxLayout="row" fxLayoutGap="80px">
      <div fxFlex="50" fxLayout="column">
        <div fxFlex="100" fxLayout="row" fxLayoutGap="40px" class="fromrow">
          <div fxFlex="50">
            <mat-form-field class="full-width">
              <input formControlName="crno" matInput placeholder="CR NO" value="">
            </mat-form-field>
          </div>
          <div fxFlex="50">
            <mat-form-field class="full-width">
              <input formControlName="raisedon" matInput [matDatepicker]="picker" placeholder="Raised On">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div fxFlex="100" fxLayout="row" fxLayoutGap="40px" class="fromrow">
          <mat-radio-group formControlName="raisedby" aria-label="Select an option" class="radiobuttons" color="primary">
            <label>Raised By</label>
            <mat-radio-button value="Compunnal">Compunnal</mat-radio-button>
            <mat-radio-button value="Client">Client</mat-radio-button>
          </mat-radio-group>
        </div>

        <div fxFlex="100" fxLayout="row" fxLayoutGap="40px" class="fromrow">
          <div fxFlex="50">
            <mat-form-field class="full-width">
              <input formControlName="effort" matInput placeholder="Effort" value="">
              <mat-icon matSuffix>access_time</mat-icon>
            </mat-form-field>
          </div>
          <div fxFlex="50">
            <mat-form-field class="full-width">
              <input formControlName="total" matInput placeholder="Total" value="">
              <mat-icon matSuffix>monetization_on</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutGap="40px" class="fromrow">
          <mat-file-upload class="fileupload"  [labelText]="'CR Document'"></mat-file-upload>
          <!-- <label>attachment:</label>
          <input formControlName="attachment" type="text" /> -->
        </div>


      </div>
      <div fxFlex="50" fxLayout="column">
        <div fxFlex="100" class="fromrow">
          <mat-form-field class="full-width">
            <textarea formControlName="desc" matInput placeholder="Description" class="textarea"></textarea>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutGap="40px" class="fromrow">
          <mat-form-field class="full-width">
            <input value="" formControlName="raisedwithclient" matInput [matDatepicker]="pickertwo" placeholder="Shared with Client">
            <mat-datepicker-toggle matSuffix [for]="pickertwo"></mat-datepicker-toggle>
            <mat-datepicker #pickertwo></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-select formControlName="status" placeholder="Status">
              <mat-option value="Approved">Approved</mat-option>
              <mat-option value="Pending">Pending</mat-option>
              <mat-option value="On Hold">On Hold</mat-option>
              <mat-option value="Disapproved">Disapproved</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
    </div>

    <div>
      <button *ngIf="!editMode" mat-raised-button color="primary" type="submit" (click)="onSubmit()">SAVE</button>
      <button *ngIf="editMode" mat-raised-button color="primary" type="submit" (click)="onSubmit()">UPDATE</button>
      <button mat-button routerLink="/">CANCEL</button>
    </div>
  </form>

  <div *ngIf="isAdded">{{confermationStr}}</div>
  <!-- <span *ngIf="editMode">{{id}}</span> -->
</mat-card>
